@media screen and (max-width: 1680px) {
  .nav-container {
    width: 100%;
    background-color: #1a1a1a;
    color: #f2f2f2;
    position: absolute;
    z-index: 999;
  }
  .nav-container .navbar {
    padding: 25px 15%;
    height: 35px;
    width: 65%;
  }
  .nav-container .navbar #logo {
    cursor: default;
  }
  .nav-container .navbar #logo h1 {
    font-size: 35px;
    font-family: "Arial Black", Gadget, sans-serif;
  }
  .nav-container .menu-button {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-container .menu-button span {
    vertical-align: super;
    margin-right: 10px;
  }
  .nav-container .menu-button:hover {
    color: #ffffff;
  }
  .active {
    opacity: 0.6;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .menu {
    padding-top: 85px;
    background: #1a1a1a;
    width: 100% !important;
    height: 101%;
    z-index: 1;
    opacity: 0.95;
    color: #f2f2f2;
  }
  .menu .main {
    font-size: 40px;
    text-align: center;
    width: 1280px;
    margin: auto;
  }
  .menu .main li {
    margin: 10% 0 0 10px;
    list-style-type: none;
    width: 250px;
    cursor: default;
  }
  .menu .main li:hover hr {
    border-top: 1px solid;
    border-color: #6969ec;
    box-shadow: 0 0 5px #9191f2;
  }
  .menu .main .child {
    font-size: 20px;
  }
  .menu .main .child li {
    margin: 20px 0 0 5px;
  }
  .menu .main a {
    color: #f2f2f2;
    text-decoration: none;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  .menu .main a:hover {
    color: #a1a1f6;
  }
  .menu .main #social-media li {
    display: inline-block;
    width: 50px;
  }
  .menu .main #social-media li img {
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
    border-radius: 50%;
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  .menu .main #social-media li img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
@media screen and (max-width: 1366px) {
  .nav-container {
    width: 100%;
    background-color: #1a1a1a;
    color: #f2f2f2;
    position: absolute;
    z-index: 999;
  }
  .nav-container .navbar {
    padding: 25px 15%;
    height: 35px;
    width: 65%;
  }
  .nav-container .navbar #logo {
    cursor: default;
  }
  .nav-container .navbar #logo h1 {
    font-size: 35px;
    font-family: "Arial Black", Gadget, sans-serif;
  }
  .nav-container .menu-button {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-container .menu-button span {
    vertical-align: super;
    margin-right: 10px;
  }
  .nav-container .menu-button:hover {
    color: #ffffff;
  }
  .active {
    opacity: 0.6;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .menu {
    padding-top: 85px;
    background: #1a1a1a;
    width: 100% !important;
    height: 101%;
    z-index: 1;
    opacity: 0.95;
    color: #f2f2f2;
  }
  .menu .main {
    font-size: 40px;
    text-align: center;
    width: 1280px;
    margin: auto;
  }
  .menu .main li {
    margin: 0 0 0 10px;
    list-style-type: none;
    width: 250px;
    cursor: default;
  }
  .menu .main li:hover hr {
    border-top: 1px solid;
    border-color: #6969ec;
    box-shadow: 0 0 5px #9191f2;
  }
  .menu .main .child {
    font-size: 20px;
  }
  .menu .main .child li {
    margin: 20px 0 0 5px;
  }
  .menu .main a {
    color: #f2f2f2;
    text-decoration: none;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  .menu .main a:hover {
    color: #a1a1f6;
  }
  .menu .main #social-media li {
    display: inline-block;
    width: 50px;
  }
  .menu .main #social-media li img {
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
    border-radius: 50%;
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  .menu .main #social-media li img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
.nav-container {
  width: 100%;
  background-color: #1a1a1a;
  color: #f2f2f2;
  position: absolute;
  z-index: 999;
}
.nav-container .navbar {
  padding: 25px 15%;
  height: 35px;
  width: 65%;
}
.nav-container .navbar #logo {
  cursor: default;
}
.nav-container .navbar #logo h1 {
  font-size: 35px;
  font-family: "Arial Black", Gadget, sans-serif;
}
.nav-container .menu-button {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.nav-container .menu-button span {
  vertical-align: super;
  margin-right: 10px;
}
.nav-container .menu-button:hover {
  color: #ffffff;
}
.active {
  opacity: 0.6;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu {
  padding-top: 85px;
  background: #1a1a1a;
  width: 100% !important;
  height: 101%;
  z-index: 1;
  opacity: 0.95;
  color: #f2f2f2;
}
.menu .main {
  font-size: 40px;
  text-align: center;
  width: 1280px;
  margin: auto;
}
.menu .main li {
  margin: 10% 0 0 10px;
  list-style-type: none;
  width: 250px;
  cursor: default;
}
.menu .main li:hover hr {
  border-top: 1px solid;
  border-color: #6969ec;
  box-shadow: 0 0 5px #9191f2;
}
.menu .main .child {
  font-size: 20px;
}
.menu .main .child li {
  margin: 20px 0 0 5px;
}
.menu .main a {
  color: #f2f2f2;
  text-decoration: none;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.menu .main a:hover {
  color: #a1a1f6;
}
.menu .main #social-media li {
  display: inline-block;
  width: 50px;
}
.menu .main #social-media li img {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
  border-radius: 50%;
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}
.menu .main #social-media li img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
