<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandbox</title>

    <!-- JavaScript Includes -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    
    <!-- Utility Files -->
    <link rel="stylesheet" type="text/css" href="~/Content/Style/reset.min.css"/>
    <link href="~/Content/Style/font-awesome.min.css" rel="stylesheet" />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/Content/Style/command.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Style/navbar.min.css"/>
</head>
<body>
    @Html.Partial("~/Views/Partials/Navigation.cshtml")

    <div class="body">
        @RenderBody()
    </div>

</body>
            @RenderSection("Scripts", false)
</html>